<!doctype html>
<html lang="en">
  <head>
    {% include meta.html %}


    <!-- build:css /assets/styles/vendor.css -->
    <!-- endbuild -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!-- build:css /assets/styles/main.css -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <!-- endbuild -->
    
  </head>
  <body class="page page--docs">
    <div id="wrapper">
      {{content}}

<!--       <main>
      <img id="page-brand" src="/assets/graphics/content/major-logo.svg" alt="Major">
      <p>We spent the last 500 days doing research, designing websites and launching new products, so we didn't have time to update this website. We'll get to it, eventually.
      In the meanwhile you can reach us at <a href="mailto:hello@wegomajor.com" title="Say Hello">hello@wegomajor.com</a></p>
      </main> -->

      <div id="form" class="white">
            &nbsp;
        </div>

 
      
    </div>

    
        <p>We spent the last 500 days doing research, designing websites and launching new products, so we didn't have time to update this website. We'll get to it, eventually.
      In the meanwhile you can reach us at <a href="mailto:hello@wegomajor.com" title="Say Hello">hello@wegomajor.com</a></p>

    <!-- build:js /assets/scripts/vendor.js -->
    <script src="/assets/scripts/vendor.js"></script>

    <!-- endbuild -->
    <!-- build:js /assets/scripts/bundle.js -->
    <script src="/assets/scripts/bundle.js"></script>
    <!-- endbuild -->

  </body>
</html>
