<!doctype html>
<html lang="en">
  <head>
    {% include meta.html %}

    <!-- build:css /assets/styles/vendor.css -->
    <!-- endbuild -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- build:css /assets/styles/main.css -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <!-- endbuild -->

  </head>
  {% if page.body_class %}
  <body class="{{ page.body_class }} {{ page.theme }}">
  {% elsif layout.body_class %}
  <body class="{{ layout.body_class }} {{ page.theme }}">
  {% else %}
  <body class="{{ page.theme }}">
  {% endif %}
    {% include header.html %}
    <main id="page-body" role="main">
      {{content}}
      <div class="row label-guide">
        <ul class="label-guide-animation">
          <li><a href="mailto:hello@wegomajor.com" title="Say Hello">hello@wegomajor.com</a></li>
        </ul>
      </div>
    </main>
    {% include footer.html %}

    <div id="page-transition-wrap" class="page-transition-wrap">
      <div id="page-transition" class="page-transition"></div>
    </div>
    <div id="page-loader-wrap" class="page-loader-wrap">
      <div id="page-loader" class="page-loader">
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
      </div>
    </div>
    <!-- build:js /assets/scripts/vendor.js -->
    <script src="/assets/scripts/vendor.js"></script>
    <!-- endbuild -->
    <!-- build:js /assets/scripts/bundle.js -->
    <script src="/assets/scripts/bundle.js"></script>
    <!-- endbuild -->
    {% unless site.baseurl contains 'localhost' %}
      {% if site.environment == 'production' %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130862511-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-130862511-1');
      </script>
      {% endif %}
    {% endunless %}
  </body>
</html>
