<!doctype html>
<html lang="en">
  <head>
    {% include meta.html %}


    <!-- build:css /assets/styles/vendor.css -->
    <!-- endbuild -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!-- build:css /assets/styles/main.css -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <!-- endbuild -->
    
  </head>
  <body>

    <header id="page-header" role="banner">
      <div class="row">
        <h1 id="page-logo">
          <a href="/" title="Major">
            <img src="/assets/graphics/content/major-logo-tall-red.svg" alt="Major">
          </a>
        </h1>

        <nav id="page-nav" role="navigation">
          <ul>
            <li><a href="#" title="Work">Work</a></li>
            <li><a href="#" title="About">About</a></li>
            <li><a href="#" title="Contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="page-body" role="main">

      <section>
        <div class="row">
          <h1>Closing the gap between people and technology.</h1>
          <p class="lead">A collaborative design studio creating digital products with love.</p>
        </div>
      </section>

       <section>
        <h1>We can help you.</h1>
        <p class="lead">Get clarity on your ideas and improve existing experiences, all the while ensuring that your users love what you build.</p>
      </section>

      <section>
        <h1>What we've been doing.</h1>

        <ul>
          <li>
            <article>
              <header>
                <span class="">Wodify Arena</span>
                <h3 class="card-title">Crossfit competitions, made easy.</h3>
                <p>We created a fast and easy way to manage the all moving pieces of a competition bringing competitors, spectators and judges together.</p>
                <small>Mobile and desktop app</small>
              </header>
            </article>
          </li>
        </ul>
      </section>
    
    </main>

    <footer id="page-footer" role="contentinfo">
      <a href="mailto:hello@wegomajor.com" title="Say Hello">hello@wegomajor.com</a>

      <ul>
        <li>Instagram</li>
        <li>Facebook</li>
        <li>LinkedIn</li>
      </ul>

      <p>© 2018 Major. All rights reserved.</p>

    </footer>



    <!-- build:js /assets/scripts/vendor.js -->
    <script src="/assets/scripts/vendor.js"></script>

    <!-- endbuild -->
    <!-- build:js /assets/scripts/bundle.js -->
    <script src="/assets/scripts/bundle.js"></script>
    <!-- endbuild -->

  </body>
</html>
