---
layout: base
body_class: body-blog-post
---
<section class="blog-post-hero">
  <figure class="blog-post-image">
    <picture>
      <source media="(min-width: 800px)" srcset="{{ page.images.hero }}">
      <source media="(min-width: 200px)" srcset="{{ page.images.card }}">
      <img src="{{ page.images.hero }}" alt="{{ page.title }}">
    </picture>  
  </figure>
  <div class="row">
    <div class="blog-post-title">
      <span>{{ page.category }}</span>
      <h2>{{ page.title }}</h2>
      <p><small>By {{ page.author }}</small></p>
    </div>
  </div>
</section>
<section class="blog-post-content">
  <div class="row">
    <div class="blog-post-content-wrap">{{ content }}</div>
  </div>
</section>
