{% if include.sec.type == 'section-tl' or include.sec.type == 'section-tr' or include.sec.type == 'section-tl-small' or include.sec.type == 'section-tr-small' %}

{% if include.sec.type == 'section-tl' %}
  {% assign klass='sec-text-left' %}
{% elsif include.sec.type == 'section-tr' %}
  {% assign klass='sec-text-right' %}
{% elsif include.sec.type == 'section-tl-small' %}
  {% assign klass='sec-text-left sec-small-title' %}
{% elsif include.sec.type == 'section-tr-small' %}
  {% assign klass='sec-text-right sec-small-title' %}
{% endif %}

{% if include.sec.bgcolor %}
  {% assign bgklass='sec-background-custom' %}
{% else %}
  {% assign bgklass='sec-background-white' %}
{% endif %}

{% assign articleStyle='' %}
{% if include.sec.color %}
  {% capture articleStyle %}color: {{ include.sec.color }};{% endcapture %}
{% endif %}

<article class="sec-text-img {{ bgklass }} {{ klass }} {{ include.sec.class }}" style="{{ articleStyle }}">
  {% if include.sec.bgcolor %}
    <span class="cs-article-background" style="background-color: {{ include.sec.bgcolor }}"></span>
  {% else %}
    <span class="cs-article-background"></span>
  {% endif %}
  <div class="row">
    <dl class="cs-section-text-content">
      <dt><h2 class="container-invisible" data-animate="yellow">{{ include.sec.title }}</h2></dt>
      <dd class="container-invisible" data-animate="white">{{ include.sec.content | liquify | markdownify }}</dd>
    </dl>
    <figure class="sec-text-img-images ">
      {% for img in include.sec.images %}
      <img
        class="animatecontainer"
        data-animate="images"
        src="{{ img.url }}"
        alt="{{ img.alt }}"
      />
      {% endfor %}
    </figure>
  </div>
</article>

{% elsif include.sec.type == 'section-img' or include.sec.type == 'section-img-full' %}

{% assign bgcolor = '' %}
{% if include.sec.bgcolor %}
  {% capture bgcolor %}background-color: {{ include.sec.bgcolor }};{% endcapture %}
{% endif %}

{% if include.sec.type == 'section-img-full' %}
<article class="sec-img sec-img-full-width {{ include.sec.class }}" style="{{ bgcolor }}">
{% else %}
<article class="sec-img {{ include.sec.class }}" style="{{ bgcolor }}">
{% endif %}

  <figure class="sec-img-images">
    {% for img in include.sec.images %}
    <img
    class="animatecontainer"
    data-animate="images"
      src="{{ img.url }}"
      alt="{{ img.alt }}"
    />
    {% endfor %}
  </figure>
</article>

{% elsif include.sec.type == 'section-esc-hatch' %}
  {{ include.sec.content | liquify | markdownify }}
{% endif %}
