

.body-404{

	.row entry-text{
		z-index: 10;
	}

	h1, p{
		width: 70%;
		display: block;
	}
	p{
		margin-bottom: 1.5rem;
	}

	h2 {
		line-height: 1rem;

	a{
		font-family: $body-text-type;
		font-size: 1rem;
		color: $red;
		font-weight: 500;

	}
}
	.underlay {
		font-family: $titles-type;
		font-size: 13rem;
		color: white;
		line-height: 13rem;
		position: fixed;
		top:50vh;
		left: 50vw;
		transform: translate(-50%,-50%);
		z-index: 0;
		color: #F3F1EF;
	}

	footer{display: none;}
}
