
.about-the-studio{
  padding: 0% 0 5%;
}

 .team, .services, .process, .clients{
	  padding: 10% 0 10% 0;
}



.body-about{
  background-color: white;
	.page-logo{
		svg{
			path{
				fill:white;
			}
		}
	}
}



.about-landingpage{
	background-image: linear-gradient(-136deg, #EE204C 0%, #F9204C 100%);
	color: white;
  height: 100vh;
	min-height: 600px;
  .row{
    padding-right: 10%;

    h1{
      max-width: 820px;
    }
  }
}


.about-the-studio{
		margin-top: -40px;


	.row{
    position: relative;
    z-index: 9;
		display: flex;
		align-items: center;
		figure{
			margin:unset;
		}

	.studio-photo1{
		//@include column(1/2);
    width: 50%;


		img{
			width: 90%;
		}
	}
	.about-text{
		max-width: 400px;
		padding: 5%;
		@include column(1/2);
    background-color: white;
	}

	.studio-photo2{
		margin-top: -60px;
    width: 100%;

		img{
			width: 60%;
			float: right;
      box-shadow: 10px 15px 50px 0 rgba(0,0,0,0.08);
		}
	//	@include clearfix;
	}

	}

  .studio-description{
    margin-top: 15%;

    h2{
      line-height: 4rem;
    }
  }

}


.team{

background-color: white;
	.team-text{
		width: 50%;
	}
	ul{

		li{

			width: 50%;
			position: relative;
			float: left;
			margin-top: 10vh;

			.member-description{
				position: absolute;
				margin-top: 3rem;
        min-width: 145px;
        z-index: 9;
        max-width: 200px;

				dl{
					display: inline-block;
					dt{
						font-family: $titles-type;
						font-size: 1.3rem;
            line-height: 1.6rem;
            //padding-bottom: 0.5rem;
					}
					dd{
						font-size: 0.8rem;
					}
				}

			}

			&:nth-child(4n-2),&:nth-child(4n-3){
				.member-description{
					text-align: right;
          border-right: 3px solid $darkblue;
          padding-right: 12px;
          right: 300px;


				}
				figure{
					width: 100%;
					margin: unset;
					img{
						width: 350px;
						float: right;
						//margin-right: -5%;
					}
				@include clearfix;
				}
			}

			&:nth-child(4n),&:nth-child(4n-1){
				.member-description{
					border-left: 3px solid $darkblue;
          padding-left: 12px;
          left: 300px;

				}
				figure{
					img{
						width: 350px;
						float: left;
						//margin-left: -5%;
					}
				@include clearfix;
				}

			}
		}
		@include clearfix;
	}
}

.services{
  position: relative;
  z-index: 9;


	h1{
		width: 100%;
		text-align: center;
    margin-bottom: 3rem;
	}

	ul{
		display: flex;
		justify-content: space-between;

		li{

			font-size: 1rem;
			line-height: 1.5rem;
			font-weight: 300;


			+ li {margin-left: 30px;}

			figure{
				margin-bottom: 1rem;
        width:100%;
			img{
				width: 100%;

			}
			}
			dt{
				font-family: $titles-type;
				font-size: 1.5rem;
				line-height:1.9rem;
				margin-bottom: 1rem;


			}
		}
	}

}

.process{
  background-color: white;

.row{
			display: flex;
			align-items: center;
      position: relative;
      z-index: 9;


			figure{
				width: 51%;
				margin: 0 3% 0 0;
				text-align: right;

				img{

					width: 90%;
					margin-top: -2rem;

				}

			}

			.process-text{
				max-width: 445px;
				width: 40%;
				margin:0 10% 0 0;
				padding: 5% 0 5% 5%;
			}
}
}

.clients{
	.row{
		display: flex;
    position: relative;
    z-index: 9;

	.clients-text{
		max-width: 445px;
		width: 40%;
		margin:0 10% 0 0;

	}

	.clients-logos{
		width: 50%;
		display: flex;
		flex-direction: row;
		li{
			max-width: 160px;
			+ li {
				margin-left: 30px;
			}
			img{
				width: 100%;
				box-shadow: 0 8px 40px 0 rgba(0,0,0,0.04);
        transition: box-shadow 0.1s ease-in-out;
			}
      a{
        margin-top: 60px;

        &:hover{
          img{
            box-shadow: 0 8px 50px 5px rgba(0,0,0,0.1);
            transition: box-shadow 0.1s ease-in-out;
          }

        }
      }
		&:nth-child(1){
				margin-top: 80px;
		}
		&:nth-child(2){
				margin-top: 116px;
		}
		}



	}

}
}
