


* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}


/* Reset Styles///////////////////////////*/

/* Links */
a:link {
    text-decoration: none;
    color: unset;
}

a:visited {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: underline;
    color: unset;
}

a:active {
    text-decoration: underline;
    color: unset;
}





/* Button */
button:active{
	border: none;
	outline:none;
	background-color: unset;
}
button:focus{
	border: none;
	outline:none;
	background-color: unset;
}

button{
	border: none;
	outline:none;
	cursor: pointer;
	background-color: unset;
}


svg {
  background-color: transparent; //Firefox
}

$titles-type: 'Oswald', sans-serif;
$body-text-type:'IBM Plex Sans', sans-serif;
$background-color: #FAF9F8;
$red: #FF0036;
$darkblue: #071D49;
$lightgrey: #828DA3;
$yellow:#FFCE38;
$title-padding: 2.2rem;


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


html,body{
	height: 100%;
	width:100%;
	position: relative;
 	ul{
    	list-style:none;
    	li{
      		padding-left:0;
		}
	}
}


body {
	background-color: $background-color;
	font-family: $body-text-type;
	font-weight: 400;
	color: $darkblue;
	font-size: 1rem;
	line-height: 1.4rem;
}

.lock-scrol{
	overflow:hidden;
}

h1 {
	font-family: $titles-type;
	font-size: 4.5rem;
	font-weight: 300;
	line-height: 4.8rem;
	margin: unset;
	padding-bottom: $title-padding;
	/*@include column(8/12);*/
}

h2{
	font-family: $titles-type;
	font-size: 3rem;
	font-weight: 300;
	line-height: 3.25rem;
	padding-bottom: $title-padding;
}


h3{
	font-family: $titles-type;
	font-size: 1.3rem;
	font-weight: 300;
	line-height: 1.7rem;
}


p {
	font-size: 1.13rem;
	line-height: 1.6rem;
}

small{
	font-size: 1rem;
	line-height: 1.1rem;
	font-weight: 300;
	color: $lightgrey;

}

a{
font-family: $titles-type;
color: $darkblue;
font-size: 3rem;
font-weight: 300;
line-height: 3.25rem;
}

.lead {
	font-size: 1.13rem;
	line-height: 1.6rem;
}

.row {
	max-width: 1280px;
	width: 80%;
	margin-left: auto;
    margin-right: auto;
}


.label-guide{
	position: fixed;
	bottom: 0;
	font-size: 0.87rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9;
	transition: transform 0.4s cubic-bezier(0.705, 0.005, 0.790, 0.455);



	ul{
		position: absolute;
		bottom: 0;
		right: 0;
		transform: rotate(90deg) translate(0, 100%);
		transform-origin: right bottom;
		transition: transform 0.4s cubic-bezier(0.705, 0.005, 0.790, 0.455);
		min-width: 300px;
		text-align: right;


	li{
		display: inline-block;


	}
	&:after{
		display: inline-block;
		width: 130px;
		height: 3px;
		background-color: black;
		content: "";
		margin:0 0 3px 16px;


	}


	}

	.label-guide-animation{
		transform: rotate(90deg) translate(100%, 100%);
		transition: transform 0.4s cubic-bezier(0.705, 0.005, 0.790, 0.455);
	}



}


.section-title-underlay{
	font-family: $titles-type;
	font-size: 13rem;
	color: white;
	line-height: 13rem;
	position: fixed;
	top:50vh;
	left: 50vw;
	transform: translate(-50%,-50%);
	z-index: -1;

	ul{
		position: relative;
			li{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				color: white;
				opacity: 0;
				transition: opacity 0.5s ease-out;
			}
	}

 .fadetext{
	transition: opacity 0.5s ease-out;
	opacity: 1;

 }


	img{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		display: none;
	}

}

	//Move containers on scrollPos
.animatecontainer{
 transition: transform 800ms cubic-bezier(0.035, 0.655, 0.240, 0.965), opacity 1s;
 transform: translateY(100px);
 opacity: 0;
}

.landingpage h1,
.landingpage p,
.wecanhelp .redblock,
.wecanhelptext h1,
.wecanhelptext p,
.internet-statement h1,
.projects article .card-resume .card-name,
.projects article .card-resume h2,
.projects article .card-resume .description,
.projects article .card-resume .small,
.projects article .card-shot,
.about-landingpage h1,
.about-the-studio h1,
.about-the-studio p,
.about-the-studio .row .studio-photo1 img,
.about-the-studio .row .studio-photo2 img,
.team .team-text h1,
.team .team-text p,
.team ul .member-description,
.team ul figure,
.services h1,
.services figure,
.services dl,
.process figure,
.process .process-text h1,
.process .process-text p,
.clients .clients-text h1,
.clients .clients-text p,
.clients .clients-logos
{
	transition: transform 800ms cubic-bezier(0.035, 0.655, 0.240, 0.965), opacity 1s;
}

.animacao{
	position: relative;
	animation: animee 0.4s normal ease-in-out ;
	display: inline-block;

	 &:after{
	 content:"";
	 position:absolute;
	 top:0;
	 left:0;
	 width:100%;
	 height:100%;
	 background-color:$yellow;
	 animation: animee2 0.4s normal 0.4s ease-in-out forwards;

 }
}

.animacao2::after{
	background-color:$red;
}


@keyframes animee{
  0%{transform: scaleX(0);
  transform-origin: 0% 0% 0px;}
  100%{transform: scaleX(1);
  transform-origin: 0% 0% 0px;}
}

@keyframes animee2{
  0%{transform: scaleX(1);
  transform-origin: 100% 0% 0px;}
  100%{transform: scaleX(0);
  transform-origin: 100% 0% 0px;}
}
