#page-footer {
	background-color: white;
	color: $darkblue;
	min-height: 170px;
	position: relative;
	z-index: 9;
	padding-top: 3rem;


	.row{
		height: 100%;
		display: flex;
		align-items: flex-start;
		position: relative;
		justify-content: flex-end;
	}
.major-footer{

	position: absolute;
	left: 0;
	display: flex;
	align-items: center;
	svg{
		width: 48px;
	}
}

.p2020-footer{
	//position: absolute;
padding: 0.3rem 0;
	display: flex;
	align-items: center;
	margin-right: 4rem;
	svg{
		 path{
			fill:$lightgrey;
		 }
	}

}



	.social{
		//position: absolute;

		bottom: 0;
		right: 0;
		display: flex;
		align-items: flex-end;
		flex-direction: column;


		ul{
			display: flex;
			flex-direction: row;

			li{
				width: 40px;
				margin:0 0 0.5rem 0.5rem;
				display: flex;
				justify-content: center;

				svg{
					width: 22px;
					path{
					 fill:$lightgrey;
					}

				}
			}

		}
		p{
			font-size: 0.7rem;
			line-height: 0.87rem;
			font-weight: 400;
			//margin-right: 2rem;
			color: $lightgrey;
		//	display: none;
		}
		a{
			line-height: 0;
		}
	}
}
