#page-footer {
	background-color: #FF0036;
	color: #fff;
	height: 60vh;
	position: relative;
	z-index: 9;


	.row{
		height: 100%;
		display: flex;
		align-items: center;
	}

	.say-hi-contact{

	h2{
		padding-bottom: 0.5rem;
	}

	a{
	color: white;
	}
	}
	.social{
		position: absolute;
		height: 70px;
		bottom: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 80%;

		ul{
			display: flex;
			flex-direction: row;
			img{
				width: 20px;
				margin-right:1rem;
			}
		}
		p{
			font-size: 0.75rem;
			line-height: 0.87rem;
			font-weight: 300;

		}
		a{
			line-height: 0;
		}
	}
}
