


// Large devices (desktops, less than 1200px)
@media (max-width: 1055px) {

//ABOUT /////////////////////////////////////////////////////////////////

.about-the-studio{
  .row{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;


figure{
  width: 50%;
}
.about-text{
  width: 100%;
  padding: 3rem 0rem 1rem 0;
  margin-top: 0;
  transform: translateY(0);

}

    }

  .studio-description{
    width: 90%;
    padding: 12rem 3rem;

  }
}

//CASE STUDY ///////////////////////////////////////////////////////////////

.cs-hero .cs-hero-background{
  transform: translate(-15%,-20%);
}
.cs-content .sec-background-custom .cs-article-background{
  height: 80%;
}

.cs-browse-more-projects ul{

  padding: 0rem 4rem 4rem 5%;

  li{
    @include column(4/12);
  }

}



 }

// Medium devices (tablets, less than 992px)
@media (max-width: 992px) {

.mobile-break{
  display: block;
  }


.browse-more-projects-wrap{
  ul{
    justify-content: flex-start;
    padding: 0rem 4rem 4rem 5%;
  }
}


 }

 @media (max-width: 920px) {

//HOMEPAGE ///////////////////////////////////////////////////////////////
.projects article{
  flex-direction: column-reverse;

  .card-shot, .card-resume{
    margin: 0;
    width: 60%;
    max-width: none;
  }

  .card-resume{
    padding-bottom: 1rem;
  }
}

.projects li:nth-child(even){
  article{
    flex-direction: column-reverse;
    .card-shot{
      margin: 0;
    }
    .card-resume{
      margin: 0;
    }
  }
}


//ABOUT ///////////////////////////////////////////////////////////////
.process{
  .row{
      flex-direction: column-reverse;

      .process-text{
        width: 100%;
        max-width: none;

        h1, p{
          max-width: unset;
        }
      }

      figure{
        width: 70%;
        margin-top: 3rem;
        img{
          margin-top: 0;
        }

      }
  }


}

.clients{
  .row{
    flex-direction: column;
    .clients-text{
      width: 100%;
      margin: 0;
      max-width: none;
      padding: 0;
    }

    .clients-logos{

      li:nth-child(1), li:nth-child(2), li:nth-child(3){
  margin:0 0 0 2rem;

         }

      li:last-child{
        margin-left: 0;
      }
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top: 4rem;


    }
  }
}
//CASE STUDY ///////////////////////////////////////////////////////////////

.cs-content .sec-users-saying{

  .row{
    text-align: left;
  }

  ul{
    padding: 3rem 4rem 4rem 5%;
  }

}

.cs-browse-more-projects ul li{
  @include column(4/12);
}


 }

// Small devices (landscape phones, less than 800px)
@media (max-width: 800px) {


//BASE ///////////////////////////////////////////////////////////////////
header .row nav .menu-icon{
  &:not(.open):hover rect {
    &:nth-child(1) {
       transform: translate(12px, 3px);

    }

    &:nth-child(2) {
      transform: translate(19px, 13px);
    }

    &:nth-child(3) {
      transform: translate(26px, 6px);
    }
  }
}

//HOMEPAGE ///////////////////////////////////////////////////////////////
  .wecanhelp .row{
  //min-height: 600px;

  }

  .wecanhelp .wecanhelptext{
    width: 100%;
    padding: 6rem 8rem 6rem 3rem;
  }

  .projects article{

    .card-shot{
      width: 100%;
    }
    .card-resume{
      width: 90%;
    }
  }

//ABOUT ///////////////////////////////////////////////////////////////
  .services ul{
    flex-wrap: wrap;

    li{
      width: 48%;
      margin-bottom: 4rem;
      + li {margin-left: 0;}

      &:nth-child(3), &:nth-child(4) {
        margin-bottom: 0;
      }

    }
  }

.about-the-studio{
  .row{

figure{
  width: 70%;
}
.about-text{


}

    }
}


//team
.team {
  .team-text{
    width: 100%;
  }
  ul li{
      flex: 0 1 48%;
  }
}

  .process{
    flex-direction: column-reverse;
.row{
    figure{
      width: 80%;
      margin: 3rem 0 0 0;

      img{

        height: 50%;

      }
    }

    .process-text{
      width: 100%;
      padding: 0;
      max-width: none;
      margin: 0;
      padding: 0;
    }

  }
  }

  .section-title-underlay, .underlay span{
    font-size: 11rem;
  }

  .body-404 h1, .body-404 p{
    width: 100%;
  }


  #page-footer {

    .logo-footer{display: none;}

    .p2020-footer{
      left:0;
      height: 90px;
      svg{
        max-width: 70%;
      }

    }

    .social{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 144px;
    justify-content: space-between;

    left: 0;
    p {
      margin-top: 1rem;
      margin-bottom: 2rem;


    }
  }

  .say-hi-contact{

   a{
    font-size: 1.1rem;
  }
  }

}


  //CASE STUDY ///////////////////////////////////////////////////////////////

  .cs-hero .cs-hero-background{
    transform: translate(-20%,-20%);
  }

  .cs-intro{
    .row{
    flex-direction: column;
    }
    figure{
      padding-bottom: 2rem;
      width: 25%;
    }
    dl{
      width: 100%;
    }
  }

  .cs-resume{
    ul{
    flex-direction: column;
    li{
      &:nth-child(1){
        width: 100%;
        padding-bottom: 3rem;
      }
      &:nth-child(2){
        width: 100%;
      }
      dl{
        padding-right: 0;
      }

    }
    }
  }

  .cs-content {
    .sec-text-img .row{
    flex-direction: column;

    .cs-section-text-content{
      width: 100%;
      padding-bottom: 3rem;
    }

    .sec-text-img-images{
      width: 80%;
      &:last-child{
        margin: 0 auto;
      }
    }

    }





  }

  .cs-content .sec-metrics ul{
    flex-direction: column;
    align-items: center;

    li{
      padding-bottom: 3rem;
      text-align: center;
      width: 100%;
    }
  }




}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 650px) {

//CASE STUDY ///////////////////////////////////////////

.cs-resume{
  ul{
  li{
    &:nth-child(2){
      flex-direction: column;
      dl{
        width: 100%;
        &:nth-child(1){
        padding-bottom: 3rem;
        }
      }
    }

  }
  }
}


}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {

  .page-logo svg{
    height: 40px;
  }

  .overlay-menu svg{
    height: 40px;
  }

  h1{
    	font-size: 2.52rem;
    	line-height: 3rem;
      padding-bottom: 0;
      margin-bottom: 2rem;

    }

  h2{
  	font-size: 2rem;
  	line-height: 2.5rem;
    padding-bottom: 0;
    margin-bottom: 1.5rem;
  }

  h3{
    font-size: 1.3rem;
    line-height: 1.6rem;
    padding-bottom: 0.7rem;
  }

  a{
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  p{
    font-size: 1rem;
  	line-height: 1.4rem;
  	display: inline-block;
  }

  .lead{
    font-size: 1.1rem;
    line-height: 1.5rem;
  }


  .section-title-underlay{
    display: none;
  }

.overlay-menu .menu {
  line-height: 4.5rem;
  li{
    margin-bottom: 0;
  }

  a{
  font-size: 2.7rem;
  line-height: 2.7rem;
}
}

.landingpage .row h1{
  margin-bottom: 1rem;
}

.wecanhelp .row{
  width: 90%;
  min-height: unset;
  padding: 3rem 0 3rem 0;
  margin-left: 5%;
}

.wecanhelp .row h2{
  width: 90%;
  padding-bottom: 0;
}

.wecanhelp .wecanhelptext{
  padding: 2rem 3rem 2rem 2rem;
}

.redblockscale{
animation: scaleblock 0.4s ease-in-out;
animation-fill-mode: forwards;
}
	@keyframes scaleblock{
	  0%{transform:scaleX(0.5); transform-origin: left bottom;}
	  100%{transform:scale(1); transform-origin: left bottom; width: 100%;}
	}

.projects{
  margin-top: -3rem;
}

.projects article .card-resume .card-title{
  margin-bottom: 1rem;
}

.projects article .card-resume p {
  margin-bottom: 1rem;
}
  .know-more-about .logo-container{
    min-width: 0;
    width: 45%;
  }


.about-the-studio .studio-description{

  margin-top: 0;
  padding: 4rem 2rem;
  min-height: unset;

  h2{
line-height: 3rem;
width: 90%;
}
}

.about-the-studio .row figure{
  width: 100%;
}

.about-the-studio .row .about-text{
      padding: 1rem 0rem 1rem 0;
}

//Team section
.team {

  ul li{
      flex: 0 1 100%;
  }
}

.services ul li{

  margin-bottom: 2rem;
  figure{
    margin-bottom: 0.5rem;
  }

dl{
  dt{
    font-size: 1.3rem;
    line-height:1.5rem;
  }

  dd{
    display: none;
  }
  }
}



.clients{
  padding-bottom: 15%;
}

  .clients .row .clients-logos li{
        margin: 0 0 0 1rem;
  }

  .clients .row .clients-logos li a{
    margin-top: 1rem;
  }

  .clients .row .clients-logos li:last-child{
    margin: 0;
  }

  .process{
    padding-top: 10%;
    .row{

        figure{
          width: 100%;
          margin: 3rem 0 2rem 0;
          text-align: center;
        }
    }
  }

  .know-more-about h2 a{
    text-decoration: underline;
  }

.clients .row .clients-logos{
  padding-top: 1rem;
}


::-webkit-scrollbar {
    display: none;
}


//CASE STUDY ////////////////////

.cs-hero {
  .cs-hero-background{
      transform: translate(-45%,-15%);
  }

  .row .cs-hero-title{
    top:30%;
    width: 100%;
  }

}

.cs-content .sec-metrics ul {
.metric-value{
  font-size: 3.5rem;
  line-height: 4rem;
}

}

.cs-browse-more-projects .browse-more-projects-wrap dl dt, .cs-browse-more-projects .browse-more-projects-wrap dl dd h3{
font-size: 0.9rem;
margin-bottom: 0;
}

.cs-browse-more-projects .browse-more-projects-wrap dl .next-project:before{
  transform: scale(0.8);
}

.cs-browse-more-projects .browse-more-projects-wrap dl .next-project:after{
  transform: scale(0.8);
}



.work-list{

  ul{
    li{
      flex: 0 0 100%;
      margin-bottom: 4rem;
      &:nth-child(even){
        margin-top: 0;
      }
      &:nth-child(odd){
        transform: translateY(0);
      }
    }
  }
}



}

@media (max-width: 420px) {

//Case Study /////////////////////////
.cs-content .sec-users-saying h2{
  text-align: left;
}

.cs-content .sec-quote .row{
  min-height: 500px;
}

.cs-content .sec-users-saying ul, .cs-browse-more-projects ul{
  min-width: 280vw;

}

}
